{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "json",
    "mocha",
    "chai-expect"
  ],
  "rules": {
    "no-use-before-define": "off",
    "global-require": "off"
  }
}